* {
  padding: 0;
  margin: 0;
}
#game {
  width: 80vw;
  height: 60vh;
  background-color: #4a7de4;
  z-index: -1;
  margin: auto;
  margin-top: 10vh;
  overflow: hidden;
  display: flex;
  user-select: none;
  pointer-events: none;
}
.ground {
    height: 200px;
    position: relative;
    width: 80vw;
    top: -20vh;
    z-index: 1;
    margin:auto;
    background-image: url("./assets/background/grass-background.png");
}
#character {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  top: 200px;
  left: 20px;
  z-index: 100000;
}
.image {
    position: relative;
    top: -5px;
    left: -5px;
    width: 60px;
    height: 60px;
}
.pipe {
  width: 100%;
  height: 100%;
}
.revert {
  transform: rotateX(180deg)
}
.group {
  pointer-events: none;
  top: -50%;
  display: grid;
  row-gap: 200px;
  grid-template-rows: 1fr 1fr;
  width: 60px;
  height: 200%;
  left: 120%;
  z-index: 10;
  position: relative;
}
.group> * {
  height: 100%;
  z-index:10;
}
.falling {
  animation: fall 2s steps(2, end) infinite;
}
.first {
  animation: 3s block 4s linear infinite;
}
.second {
  animation: 3s block 5s linear infinite;
}
@keyframes block {
  from {
    left: 120%;
  }
  to {
    left: -30%;
  }
}
@keyframes fall {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
